* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
}

$primary-color: #48bfe3;
$secondary-color: #5390d9;
$therciary-color: #6930c3;
$message-color: #72efdd;
$message-font-color: #ced4da;
body {
  background: $primary-color;

  input {
    max-width: 300px;
  }
  input[type='number'] {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .main_wrapper {
    margin: auto;
    display: grid;
    background-color: $secondary-color;
    width: 95vw;
    height: 100vh;
    justify-items: center;
    align-items: center;
    text-align: center;
    grid-template-areas:
      '.    .            usuario         .           .'
      'ayuda    .           .         .     consultar_saldo'
      'retirar .            mensaje         .     abonar_saldo'
      '.      .            .         .           .   ';

    .mensaje {
      grid-area: mensaje;
      background-color: $therciary-color;
      opacity: 1;
      animation-name: fadeIn;
      animation-iteration-count: 1;
      animation-timing-function: ease-in;
      animation-duration: 0.5s;
      color: $message-font-color;
    }
    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    .info_usario {
      grid-area: usuario;
    }
    .consultar_saldo {
      grid-area: consultar_saldo;
    }
    .retirar {
      grid-area: retirar;
    }
    .abonar_saldo {
      grid-area: abonar_saldo;
    }

    .ayuda {
      grid-area: ayuda;
    }
  }
}

.btn-menu {
  border: 2px solid rgba(0, 0, 0, 0.5);
  width: 25vw;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $message-color;
  border-radius: 5px;
}

input[type='number'] {
  width: 300px;
}
