* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
}
body {
  background-image: linear-gradient(
    89.9deg,
    rgba(178, 253, 238, 0.96) -8.1%,
    rgba(207, 244, 254, 1) 26.3%,
    rgba(207, 244, 254, 0.48) 47.5%,
    rgba(254, 219, 243, 0.63) 61.5%,
    rgba(254, 219, 243, 1) 78.7%,
    rgba(254, 207, 210, 1) 109.2%
  );
  .material-icons {
    font-size: 2rem;
  }
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  h2 {
    margin: auto;
    text-align: center;
    padding-top: 2rem;
  }
}

.main-grid {
  margin: auto;
  gap: 0.5rem;
  width: 85%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  text-align: center;
  align-content: center;
  justify-content: center;
  padding-bottom: 1rem;

  div {
    input {
      width: 70%;
      border: 5px solid #aaa;
      border-radius: 15px;
      box-shadow: 0, 2px 4px rgba($color: #000000, $alpha: 0.2);
      margin: 8px 0;
      outline: none;
      transition: 0.3s;
    }

    input[type='submit'] {
      width: 50%;
    }
    input:focus {
      border-color: dodgerBlue;
      box-shadow: 0 0 8px 0 dodgerBlue;
    }
  }
}

//modal

.modal-container {
  // esto esta arriba de todo
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba($color: #000000, $alpha: 0.3);
  // colocar la opacidad en cero y el pointer event none es la clave
  opacity: 0;
  pointer-events: none;
}

// agregamos una condicion, si tiene esa clase

.modal {
  background: whitesmoke;
  width: 600px;
  max-width: 100%;
  text-align: center;
  padding: 1rem 1rem;
  border-radius: 5px;
}

button {
  width: 75%;
}
